body {
    font-family: "Museo sans rounded webfont", sans-serif;
}

.hifi-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.overlay-box {
    grid-row: 2 / 2;
    height: 200px;
    justify-self: center;
    align-self: center;
}

.img-frontpage-logo,
.overlay-box {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.overlay-box>p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
}

.img-frontpage-logo {
    height: 85vh;
    width: 100%;
}

.hifi-logo-container {
    border: 2px solid rgb(255, 255, 255);
    padding: 2.5em 1em 0 0.4em;
    font-weight: 700;
    width: 180px;
    height: 180px;
}

.hifi-logo-container>p {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 2.3em;
    margin-top: 2em;
}

.hifi-address {
    color: rgb(255, 255, 255);
}

/*-----------------------------------------------------------*/


.middle-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.img-middle-logo {
    height: 400px;
    width: 100%;
}

.middle-page__box,
.img-middle-logo {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.middle-page__box {
    align-self: center;
}

.middle-page__box>p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    padding: 2em 5em;
}



/*----------------------------------------------------*/


.socials{
    display: grid;
    grid-template-columns:1fr 1fr 1fr
}

.socials-img{
    width: 100%;
}

.socials-grid{
    display: grid;
}

.icon-facebook, .icon-b, .icon-twitter{
    color: white;
    margin: 0 auto;
    align-self: center;
}

.socials-img, .icon-facebook, .icon-b, .icon-twitter{
    grid-column: 1;
    grid-row: 1;
}

.icon-facebook, .icon-b, .icon-twitter{
    font-size: 6em;
}




.socials__box-grid{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 5em 14em;
    text-align: center;
    align-items: center;
}

.socials__box{
margin: 5.3em;
}

.socials__box > h3 + p{
    text-transform: uppercase;
    font-size: 17px;
}

.socials__heading{
    border: 1px solid rgb(91, 85, 85);
    box-shadow: 0 2px 0 0;
    margin: 0 6em;
    padding: 0.4em 0.8em;
    color: rgb(160, 111, 26);
    text-transform: uppercase;
}
