main {
    margin: 1em;
}

.path {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 0.2em;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.advertisement-container {
    margin-bottom: 1.5em;
}

.product-img {
    width: 100%;
}

.product-img-veiws {
    font-size: 30px;
    color: rgb(173, 150, 118);
    text-transform: uppercase;
}

.product-name-container {
    grid-column: 2;
}

.single-product__name {
    color: rgb(173, 150, 118);
    text-transform: uppercase;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container>div {
    display: flex;
    gap: 1em;
    font-size: 1.8em;
}

.new-price {
    color: rgb(173, 150, 118);

}

.old-price {
    text-decoration: line-through;
    opacity: .5;

}

.single-product__button {
    background-color: rgb(173, 150, 118);
    color: white;
    padding: 0.9em;
    border: none;
    text-transform: uppercase;
}

.radio {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1em;
    gap: 1em;
}


.radio-input {
    background-color: rgb(215, 209, 209);
    padding: 0.5em 10em 0.5em 1em;
    align-items: start;
    font-weight: 600;
}

.grid-container {
    border: 1px solid black;
    grid-column: 2;
    margin-top: 2em;
}


.grid-container__ast {
    display: flex;
    justify-content: space-between;
}

.grid-container__radio-box {
    padding: 0 1em;
}


.grid-container__ast>p:last-child,
.ast-color {
    color: red;
}

.payment {
    background-color: rgb(215, 209, 209);
    padding: 1em;
}

.quantity__amount {
    padding: 0.7em;
}

.quantity__button {
    background-color: rgb(173, 150, 118);
    color: white;
    padding: 0.9em 5em;
    border: none;
    text-transform: uppercase;
}

.payment-container {
    border-bottom: 1px solid black;
    padding-left: 7em;
}

.payment-container>p:first-child {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 3.2em;
    color: rgb(173, 150, 118);
    font-weight: 100;
}

.payment-container>p:last-child {
    font-size: 12px;
    padding-left: 2em;
}

.paypal__button {
    display: flex;
    padding: 0.5em 3em;
    border-radius: 15px;
    gap: 7px;
    background-color: rgb(255, 187, 0);
}


.grid-container-information {
    grid-column: 2;
    width: 98%;
    text-align: left;
    text-transform: uppercase;
    border-collapse: collapse;
}

.grid-container-information-heading {
    text-transform: uppercase;
    color: rgb(173, 150, 118);
}

tr {
    border: 1px solid black;
}

.information-table-data {
    border: 1px solid black;
    padding: 0.5em;
}

.information-table-heading {
    background-color: rgb(215, 209, 209);
    width: 30%;
    padding: 0.5em;
    border: 1px solid black;
}

.grid-container-description>h2 {
    text-transform: uppercase;
}

.description {
    border: 1px solid black;
    border-collapse: collapse;
}

.description-table-heading {
    display: flex;

}

.description-table-data {
    border: 1px solid black;
}

.call-us {
    background-color: black;
    color: rgb(173, 150, 118);
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
}